[workspace]
resolver = "2" # What does this do?

[package]
name = "rui"
description = "Experimental Declarative UI library"
version = "0.3.5"
license = "MIT"
readme = "README.md"
authors = ["Taylor Holliday <taylor@audulus.com>"]
keywords = ["ui", "gui", "declarative"]
categories = ["gui"]
repository = "https://github.com/audulus/rui"
edition = "2018"
exclude = [ "screenshots/*" ]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = [ "winit" ]

[dependencies]
euclid = "0.22.6"
tao = { version = "0.8.2", optional = true }
wgpu = "0.13.1"
futures = "0.3"
vger = "0.2.4"
accesskit = "0.3.0"
lazy_static = "1.4.0"
winit = { version = "0.26.1", optional = true }

[target.'cfg(target_arch = "wasm32")'.dependencies]
wasm-bindgen = "0.2.76"
web-sys = { version = "=0.3.58", features = ["Location"] }
log = "0.4"
console_log = "0.1.2"
console_error_panic_hook = "0.1.6"
